/*######------dashbord_Start------#######*/

.row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background:#1A242E;
      height: 100%;
    }
    /*content*/
  
  .card-item{
    color: #fff;
    margin-left: 25px;
    font-size: 15px;
    padding: 10px;
    font-weight: bolder;
  }


  .icon{
    color: #A4D268;
    font-size: 25px;
  }

  i.iconp{
    color: #A4D268;
    font-size: 30px;
    padding-top: 10px;
  }

  .card-body h4{
    border:1px solid #000;
    border-radius: 25px;
    padding:5px;

  }

  a.proj{
    font-size: 17px;
    font-weight: bold;
  }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    .sidenav_item{
      padding:10px;

    }
    
      .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
}

    }


/*######------dashbord_End------#######*/